@import url("./sidebar.css");
@import url("./page.css");
@import url("./sidebar-only.css");
@import url("./page-hidden.css");

a {
    text-decoration: none;
    color: white;
}
a.link {
    text-decoration: underline;
}

* {
    overflow-wrap: break-word;
    margin: none;
    font-family:
        Inter,
        system-ui,
        -apple-system, /* Firefox supports this but not yet `system-ui` */
        'Segoe UI',
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji';
}
h2 {
    margin: 0px 0px;
}