.pf-page {
    --background-default: #555;
    --border-color: #333;
    --height: 100%;
    --width: calc(100vw - 300px);
    color: white;
}

.pf-page.root {
    position: absolute;
    display: block;
    left: 300px;
    top: 0px;
    width: var(--width);
    height: var(--height);
}

.pf-page.title {
    position: relative;
    display: block;
    font-size: 32px;
    margin: none;
    padding-top: 2px;
    height: 36px;
    top: 0;
    background-color: #383838;
    border-bottom: 2px solid var(--border-color);
    text-align: center;
}

.pf-page.content {
    width: var(--width);
    margin: none;
    padding: none;
}

.pf-page.content.background {
    display: block;
    position: relative;
    height: calc(100% - 40px);
    background-color: var(--background-default);
    overflow: hidden;
}

.pf-page.content.image {
    position: absolute;
    width: 150px;
    height: 150px;
    left: -2px;
    top: -2px;
    margin: none;
    border: 2px solid var(--border-color);
}

.pf-page.content.description {
    display: block;
    position: relative;
    height: 100%;
    width: calc(100% - 152px);
    font-size: 24px;
    left: 152;
    padding-top: 2px;
    padding-left: 2px;
    overflow-y: auto;
    overflow-x: unset;
}

.pf-page.content.description.imageless {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    font-size: 24px;
    left: 0;
    overflow-y: auto;
    overflow-x: unset;
}

.deprecation {
	margin: 0;
	background-color: #443;
	padding: 1em;
}

.deprecation .center {
	max-width: 900px;
	margin: auto;
}

.deprecation img {
	vertical-align: middle;
}

.deprecation > h2 {
	text-align: center;
	color: #ffa;
}

.deprecation a {
	color: #aaf;
}