@media screen and (max-width: 600px) {
    .pf-sidebar {
        color: white;
        --background-default: #444;
        --border-color: #333;
    }
    
    .pf-sidebar.root {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: var(--background-default);
        overflow-y: auto;
        overflow-x: hidden;
    }
    
    .pf-sidebar.title {
        position: sticky;
        z-index: 1;
        font-size: 32px;
        margin: none;
        text-align: center;
        width: calc(100% - 36px);
        top: 0;
        background-color: #383838;
        border-bottom: 2px solid var(--border-color);
        border-right: 1px solid black;
    }
    
    .pf-sidebar.element {
        display: block;
        width: 100%;
        font-size: 24px;
        border-bottom: 2px solid var(--border-color);
    }
    .pf-sidebar.element.selected {
        background-color: #383838;
    }
    .pf-sidebar.element:hover {
        background-color: #383838;
    }
    
    .pf-sidebar.element p {
        margin: 0;
        position: relative;
        width: auto;
        left: 32px;
    }

    .pf-page {
        visibility: hidden;
    }
    
    .pf-page.root {
        visibility: hidden;
    }
    
    .pf-page.title {
        visibility: hidden;
    }
    
    .pf-page.content {
        visibility: hidden;
    }
    
    .pf-page.content.background {
        visibility: hidden;
    }
    
    .pf-page.content.image {
        visibility: hidden;
    }
    
    .pf-page.content.description {
        visibility: hidden;
    }
    
    .pf-page.content.description.imageless {
        visibility: hidden;
    }

    .pf-sidebar.off {
        position: absolute;
        display: block;
        left: calc(100vw - 36px);
        top: 0;
        width: 36px;
        height: 36px;
        padding-top: 2px;
        border-right: 0px;
        font-size: 32px;
        text-align: center;
        background: #383838;
    }
}