html {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: rgb(75,75,75);
    background: linear-gradient(45deg, rgba(75,75,75,1) 0%, rgba(255,192,128,1) 100%);
}

.pf-nav {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 75vw;
    height: 10.5vh;
    top: 2vh;
    left: 12.5vw;
    border: none;
    border-radius: 25px;
    box-shadow: 10px 10px rgba(0,0,0,0.5);
    background-color: #888888;
    overflow: hidden;
}

.pf-nav .pf-click {
    /* Center the text */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Fit within .pf-nav */
    width: calc(100%/6);
    /* Make visible */
    font-size: 4vh;
    /* Create the design if neighboured by .pf-tab */
    border-radius: 25px;
    background-color: #888888;
    /* Undo <a>'s CSS */
    color: black;
    text-decoration: none;
}

/* Specificity must match or exceed above to render correctly. */
.pf-click.pf-tab {
    background: white;
    overflow: visible;
    border-radius: 25px 25px 0 0;
}

/* Essentially creates a white box wider than the element and pins it to the bottom. */
.pf-tab::before {
    content: '';
    position: absolute;
    width: calc((100% / 6) + 50px);
    height: 50%;
    bottom: 0;
    background: white;
    /* Important: Allows for neighbouring .pf-click elements to cover this element. */
    z-index: -1;
}

.pf-sidebar {
    display: block;
    position: fixed;
    width: 25vw;
    height: 75vh;
    top: 18.75vh;
    left: 12.5vw;
    background-color: #888888;
    box-shadow: 10px 10px rgba(0,0,0,0.5);
    border: none;
    border-radius: 25px;
}

dl {
    display: block;
    position: fixed;
    width: 25vw;
    height: 75vh;
    top: 18.75vh;
    left: 12.5vw;
    border: none;
    border-radius: 25px;
    background-color: rgba(0,0,0,0);
}

dt {
    display: block;
    font-size: 4vh;
    text-align: center;
    width: 25vw;
    overflow: auto;
    background-color: rgba(0,0,0,0);
}

.pf-maincontent {
    display: block;
    position: fixed;
    width: 43.25vw;
    height: 75vh;
    top: 18.75vh;
    left: 43.75vw;
    background-color: #888888;
    box-shadow: 10px 10px rgba(0,0,0,0.5);
    border: none;
    border-radius: 25px;
    font-size: 2vh;
    text-align: center;
}

#pf-title {
    display: inline-block;
    position: relative;
    right: 0;
    top: -7vh;
    width: calc(43.25vw - 16vh);
    vertical-align: middle;
    font-size: 5vh;
}

#pf-image {
    display: inline;
    position: relative;
    right: 0;
    top: 0;
    width: 15vh;
    height: 15vh;
    border: none;
    border-radius: 25px;
    margin: none;
}

.pf-body {
    display: block;
    position: fixed;
    height: 60vh;
    width: 43.25vw;
    bottom: 6.25vh;
    font-size: 5vh;
    overflow: auto;
    border-radius: 25px;
}