html {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: rgb(75,75,75);
    background: linear-gradient(45deg, rgba(75,75,75,1) 0%, rgba(255,192,128,1) 100%);
}

.pf-nav {
    display: block;
    position: fixed;
    width: 75vw;
    height: 10.5vh;
    top: 2vh;
    left: 12.5vw;
    border: none;
    border-radius: 25px;
    box-shadow: 10px 10px rgba(0,0,0,0.5);
    background-color: #888888;
    overflow: hidden;
}

.home {
    position: relative;
    left: 12.5vw;
}

.system {
    position: relative;
    left: 25vw;
}

.members {
    position: relative;
    left: 37.5vw;
}

.switches {
    position: relative;
    left: 50vw;
}

.messages {
    position: relative;
    left: 62.5vw;
}

.settings {
    position: relative;
    left: 75vw;
}

.pf-click {
    display: inline-block;
    position: fixed;
    width: 12.5vw;
    top: 4.5vh;
    text-align: center;
    font-size: 4vh;
}
.pf-redirect {
    display: inline-block;
    position: fixed;
    width: 12.5vw;
    height: 10.5vh;
    top: 2vh;
    text-align: center;
    font-size: 4vh;
    cursor: pointer;
}

.pf-tab {
    position: relative;
    width: calc(75vw/6);
    height: 10.5vh;
    background: white;
    overflow: visible;
    border-radius: 25px;
}

.pf-tab-back {
    position: relative;
    width: calc((75vw / 6) + 50px);
    height: 5.25vh;
    top: 5.25vh;
    left: -25px;
    background: white;
}

.pf-tab-left {
    position: relative;
    left: -50px;
    height: 10.5vh;
    width: 50px;
    top: -5.25vh;
    border-radius: 25px;
    background-color: #888888;
}

.pf-tab-right {
    position: relative;
    height: 10.5vh;
    width: 50px;
    left: calc(75vw/6);
    top: -15.75vh;
    border-radius: 25px;
    background-color: #888888;
}

.pf-sidebar {
    display: block;
    position: fixed;
    width: 25vw;
    height: 75vh;
    top: 18.75vh;
    left: 12.5vw;
    background-color: #888888;
    box-shadow: 10px 10px rgba(0,0,0,0.5);
    border: none;
    border-radius: 25px;
}

.pf-maincontent {
    display: block;
    position: fixed;
    width: 43.25vw;
    height: 75vh;
    top: 18.75vh;
    left: 43.75vw;
    background-color: #888888;
    box-shadow: 10px 10px rgba(0,0,0,0.5);
    border: none;
    border-radius: 25px;
    font-size: 2vh;
    text-align: center;
}